---
title: Welcome to Niagara's First Coworking Community
---

<div class="welcome">
  <div class="color-overlay">
    <div class="section">
      <div class="logo">
        <img src="/images/logo_transparent.png">
      </div>

      <div class="navigation">
        <%= partial "navigation.html" %>
      </div>
    </div><!--/ .section -->

    <div class="section">
      <div class="hero">
        <h1>
          <strong>Cowork Niagara</strong> is a shared space where freelancers, social
          entreprenuers and non-profit groups work, collaborate, and make awesome stuff
          together.
        </h1>

        <div class="call-to-action">
          <p>
            Do you want increased productivity? Less awkward glances at your
            neighborhood cafe?
          </p>

          <a href="/join.html" class="button">I'm <em>totally</em> in!</a>
        </div>
      </div>
    </div><!--/ .section -->
  </div><!--/ .color-overlay -->
</div><!--/ .welcome -->

<div class="item">
  <div class="section">
    <h2>The Co-operative</h2>

    <p>
      As Niagara's first and only co-operative coworking space, we're entirely
      community owned and managed. Our volunteer board members, using the wishes
      of our members, ensure that we are providing services that directly benefit
      our members and the community. <%= link_to "Find out more about our co-operative", "/about.html" %>
      and why we chose the co-operative model.
    </p>
  </div>
</div>

<div class="item">
  <div class="section">
    <h2>The Space</h2>

    <p>
      Located in beautiful downtown St. Catharines, Cowork Niagara occupies 2 recently renovated
      floors in a fantastic building, conveniently located near many great restaurants and local
      business hubs. <%= link_to "Find out more about our space", "/find-us.html" %>.
    </p>
  </div>
</div>

<div class="item">
  <div class="section">
    <h2>The Events</h2>

    <p>
      Proudly offering the region's largest calendar of indepently focused events,
      Cowork Niagara organizes educational, interactive, fun, free and members-only
      events and meet-ups for entrepeneurs in the marketing, sales, web and software
      development industries. <%= link_to "Find out more about our events", "/events.html" %>.
    </p>
  </div>
</div>

<%= partial "footer.html" %>
